[Unit]
Description=1time backend service
After=network.target redis-server.service
Requires=redis-server.service

[Service]
Type=simple
User=1time
Group=1time
WorkingDirectory=/opt/1time/bin
Environment=REDISHOST=127.0.0.1:6379
Environment=REDISPASS=
ExecStart=/opt/1time/bin/1time-api
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
